.largefont {
  color: #0066FF;
  font-family:arial;
  font-size: 50px;
}
.dope {
  color: #228B22;
  font-family:arial;
  font-size: 18pt;
}
body {
  background-color: rgb(206, 161, 37);
}
div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.crazy {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
h1 {text-align: center;}
h2 {text-align: center;}